/*.root {*/
/*-fx-background-color: transparent;*/
/*-fx-background-image: url("../ui/card.png");*/
/*-fx-background-repeat: stretch;*/
/*-fx-background-size: 480 320;*/
/*-fx-background-position: center center;*/
/*}*/

#close {
  -fx-background-color: transparent;
  -fx-background-image: url("../ui/cover.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 12 12;
  -fx-background-position: center center;
}

#min {
  -fx-background-color: transparent;
  -fx-background-image: url("../ui/cover.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 12 12;
  -fx-background-position: center center;
}

#close:hover {
  -fx-background-image: url("../ui/close.png");
}

#min:hover {
  -fx-background-image: url("../ui/min.png");
}

#close:pressed {
  -fx-background-image: url("../ui/close_select.png");
}

#min:pressed {
  -fx-background-image: url("../ui/min_select.png");
}

